<div id="content-hwrap">
  <div class="hwrap section">
    <div class="main section" id="main">
      <div class="widget Blog" id="Blog1">
        <div class="blog-posts hfeed">
          <article class="post hentry">
            <div class="hwrap">
              <h2 class="title">About Team
                <span class="fontawesome-reorder"></span>
              </h2>
              <div class="hwrap section">
                <div class="widget-content">
                  <p>Chuyện hôm qua như nước chảy về đông</p>
                  <p>Mãi xa ta không sao giữ được</p>
                  <p>Hôm nay lại có bao chuyện ưu phiền làm rối cả lòng ta</p>
                  <p>Rút dao chém xuống nước, nước càng chảy mạnh</p>
                  <p>Mà đụ mẹ nâng chén tiêu sầu, càng sầu thêm</p>
                  <p>Gió sớm mai thổi đi bốn phương</p>
                  <p>Xưa nay chỉ thấy người nay cười</p>
                  <p>Có ai thấy người xưa khóc đâu</p>
                  <p>Hai tiếng ái tình thật cay đắng</p>
                  <p>Muốn hỏi cho rõ hay giả vờ ngây ngô</p>
                  <p>Chỉ có thể biết nhiều hay ít khó có thể biết cho đủ</p>
                  <p>Giống như đôi uyên ương bươm bướm trong những năm tháng khó khăn này</p>
                  <p>Ai có thể thoát được nỗi sầu nhân thế</p>
                  <p>Trong thế giới phù hoa đó</p>
                  <p>Sống ở trên đời đã là chuyện điên rồ</p>
                  <p>Sao còn muốn lên tận trời xanh?</p>
                  <p>Chi bằng ngủ yên trong sự dịu êm...</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>