<!-- gallery -->
<div class="gallery-top">
  <!-- container -->
  <div class="container">
    <div class="gallery-info">
      <h3>Gallery</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit in id malesuada lectus aenean convallis interdum gravida donec faucibus bibendum tortor vel facilisis.</p>
    </div>
    <div class="gallery-grids-top">
      <div class="gallery-grids">
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/3.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/4.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/5.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/7.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/7.jpg" alt=""/></a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="gallery-grids gallery-grids-middle">
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/8.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/8.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/9.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/9.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/4.jpg" alt=""/></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="assets/images/5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/5.jpg" alt=""/></a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- //gallery -->