<!-- footer -->
<div class="footer">
  <!-- container -->
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Get in touch</h3>
      <form>
        <input type="text" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
      </form>
    </div>
    <div class="col-md-3 footer-middle">
      <h3>Address</h3>
      <div class="address">
        <p>756 gt globel Place,
          <span>CD-Road,M 07 435.</span>
        </p>
      </div>
      <div class="phone">
        <p>+1(100)2345-6789</p>
      </div>
    </div>
    <div class="col-md-3 footer-right">
      <div class="f-logo">
        <a href="/">opliz</a>
      </div>
      <p>Proin eget ipsum ultrices, aliquet velit eget, tempus tortor. Phasellus non velit sit amet diam faucibus molestie tincidunt efficitur nisi.</p>
    </div>
    <div class="clearfix"> </div> 
  </div>
  <!-- //container -->
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
  <!-- container -->
  <div class="container">
    <div class="copyright-left">
      <p>Copyright © 2018 opliz. All rights reserved | Design by <a href="#">EnCee</a></p>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- copyright -->