<!-- banner -->
<div class="banner a-banner">
  <!-- container -->
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/">opliz</a>
      </div>
      <div class="icons">
        <ul>
          <li><a href="#" class="facebook"> </a></li>
          <li><a href="#" class="facebook twitter"> </a></li>
          <li><a href="#" class="facebook chrome"> </a></li>
          <li><a href="#" class="facebook dribbble"> </a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="top-nav">
        <span class="menu">MENU</span>
        <ul class="nav1">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
    </div>
  </div>
  <!-- //container -->
</div>  
<!-- //banner -->
