<div id="content-side">
  <div class="cside section" id="cside">
    <div class="widget HTML" id="HTML1">
      <h2 class="title">
        <span class="fontawesome-reorder"></span> Top trong tuần
      </h2>
      <div class="widget-content">
        <ul class="lst_wrap">
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 1 - Chapter 1</a> <br> <span class="clear"></span>
          </li>
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 1 - Chapter 2</a> <br> <span class="clear"></span>
          </li>
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 1 - Chapter 3</a> <br> <span class="clear"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="widget HTML" id="HTML2">
      <h2 class="title">
        <span class="fontawesome-reorder"></span> Truyện tranh mới
      </h2>
      <div class="widget-content">
        <ul class="lst_wrap">
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 1</a> <br> <span class="clear"></span>
          </li>
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 2</a> <br> <span class="clear"></span>
          </li>
          <li class="clearfix"><a class="lst_title"
            href="#"
            target="_top">Truyen 3</a> <br> <span class="clear"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>