<div id="content-side">
  <div class="cside section" id="cside">
    <div class="widget HTML" id="HTML1">
      <h2 class="title">
        <span class="fontawesome-reorder"></span> Top trong tuần
      </h2>
      <div class="widget-content">
        <ul class="lst_wrap">
          <li class="clearfix" *ngFor="let chapter of chapters">
            <a class="lst_title" href="truyen-tranh/{{chapter.story.storyUrl}}-{{chapter.story.storyId}}/{{chapter.chapterUrl}}-{{chapter.chapterId}}" target="_top">{{chapter.story.storyName}} - {{chapter.chapterName}}</a>
            <br> <span class="clear"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="widget HTML" id="HTML2">
      <h2 class="title">
        <span class="fontawesome-reorder"></span> Truyện tranh mới
      </h2>
      <div class="widget-content">
        <ul class="lst_wrap">
          <li class="clearfix" *ngFor="let story of stories">
            <a class="lst_title" href="truyen-tranh/{{story.storyUrl}}-{{story.storyId}}" target="_top">{{story.storyName}}</a>
            <br> <span class="clear"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>