<div class="ticker hidden-small">
  <strong>Mẹo:</strong>
  <ul>
    <li>Click vào link "Xem truyện ở dạng nâng cao" để có những trải nghiệm thú vị!</li>
    <li>Dạng nâng cao: Click vào trang đang đọc để qua trang.</li>
    <li>Dạng nâng cao: Sử dụng phím mũi tên qua trái, qua phải để qua trang trong lúc xem truyện.</li>
    <li>Dạng nâng cao: Click vào trang đang đọc, giữ và di chuyển chuột qua trái hoặc phải để có hiệu ứng qua trang ấn tượng.</li>
    <li>Ấn F5 nếu truyện không hiển thị được.</li>
    <li>Click vào "Mũi tên" ở dưới góc phải để lên đầu trang một cách nhanh nhất.</li>
  </ul>
</div>