<div id="main-wrapper">
  <div class="content-wrap">
    <div class="main section" id="main">
      <div class="widget Blog" id="Blog1">
        <div class="blog-posts hfeed">
          <article class="post hentry">
            <div class="hwrap">
              <h2 class="title">
                {{story.storyName}}
                <span class="fontawesome-reorder"></span>
              </h2>
            </div>
            <div class="post-body entry-content">


              <div class="synop_top">
                <div class="synop_thumbs">
                  <img alt="" src="{{story.storyCoverImageUrl}}">
                </div>
                <ul class="synop_infs">
                  <li>
                    <b>Trạng thái:</b>
                    <span>{{story.status.statusName}}</span>
                  </li>
                  <li>
                    <b>Tác giả:</b>
                    <span>{{story.storyAuthor}}</span>
                  </li>
                  <li>
                    <b>Thể loại:</b>
                    <span class="lst_type">
                      <a *ngFor="let type of story.types" href="truyen-tranh/the-loai/{{type.typeUrl}}/{{type.typeId}}">{{type.typeName}}<span>, </span></a>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="clear"></div>
              <div class="synop_down">
                  <table>
                    <thead>
                      <tr>
                        <td>
                          Tập
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chapter of story.chapters">
                          <td>
                            <a href="truyen-tranh/{{story.storyUrl}}/{{chapter.chapterUrl}}/{{chapter.chapterId}}">{{chapter.chapterName}}</a>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                <div class="description">
                  {{story.storyDescription}}
                </div>
                <div style="clear: both;"></div>
              </div>

              
            </div>
            <div class="clear"></div>
            <div class="hwrap">
              <h2 class="title">
                Truyện cùng thể loại
                <span class="fontawesome-reorder"></span>
              </h2>
            </div>
            <div class="clear"></div>
            <div class="related-post">
              <ul class="dte-3">
                <li class="dte3_item">
                  <div class="dte3_wrap">
                    <a class="dte3_title" href="#">Truyen 1</a>
                  </div>
                </li>
                <li class="dte3_item">
                  <div class="dte3_wrap">
                    <a class="dte3_title" href="#">Truyen 2</a>
                  </div>
                </li>
                <li class="dte3_item">
                  <div class="dte3_wrap">
                    <a class="dte3_title" href="#">Truyen 3</a>
                  </div>
                </li>
              </ul>
            </div>
            <div style="clear:both"></div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>