.popular-posts ul {
	list-style: none;
	padding: 0;
}

.Label .widget-content li {
	background: #e74c3c;
	display: inline-block;
	padding: 6px 7px 5px;
	margin: 1px 0 1px -2px;
	border-bottom: 1px solid #d23828;
	font-size: 12px;
	margin-right: 4px;
}

.Label .widget-content li:hover {
	background: #e4e6e8;
	border-bottom: 1px solid #cbcbcb;
}

.Label .widget-content li:hover a {
	color: #333;
}

.Label .widget-content ul {
	padding: 0;
	list-style: none;
}

.Label .widget-content a {
	color: #fff;
}

ul.hierarchy {
	list-style: none;
	padding: 0;
}

.profile-name-link.g-profile {
	background: no-repeat;
	padding-left: 20px;
}

.profile-img {
	margin: 5px;
	float: left;
}

.sidebar h2, .sidebar h3 {
	margin: 0;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	padding: 12px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	/*margin-bottom: 2px;*/
	background: #50D07D;
}

.sidebar h2:hover span, .sidebar h3:hover span {
	color: #e74c3c;
}

.sidebar .widget-content {
	border: 1px solid #eff1f4;
	padding: 5px 8px;
	border-top: 0;
}

.sidebar .widget {
	margin-bottom: 5px;
}

.cside h2 span, .cside h3 span, .sidebar h2 span, .sidebar h3 span,
	.hwrap h2 span, .hwrap h3 span {
	float: right;
}
/* CONTENT
	-------------------------------- */
body {
	background: #F2F3F4;
	margin: 0;
	color: #333333;
	font: normal normal 13px Arial, sans-serif;
}

body#layout #nav {
	display: none;
}

body#layout ul {
	display: none;
}

body#layout #content-hwrap {
	float: left;
	width: 500px;
}

body#layout #hwrap1 {
	width: 100%;
	float: none;
}

body#layout #hwrap2 {
	float: none;
	width: 100%;
}

body#layout .foot {
	float: left;
	width: 323px;
}

a:focus {
	color: #2288bb;
	outline: thin dotted;
}

a:link, a:visited {
	color: #888888;
	transition: color 0.4s ease-in;
	-webkit-transition: color 0.4s ease-in;
	-moz-transition: color 0.4s ease-in;
	outline: none;
	color: #2d50a7;
	text-decoration: none;
}

a:active, a:hover {
	color: #33aaff;
	text-decoration: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background: #EEE;
}

::-webkit-scrollbar-thumb {
	background: #999;
}

.status-msg-wrap {
	padding: 7px 0;
	background: #f3f3f3;
	border: 1px solid #ddd;
	margin: 0 0 10px;
	width: 99%;
	font-size: 13px;
	text-align: center;
	display: inline-block;
}

.clear {
	display: block;
	clear: both;
}

.status-msg-bg {
	display: none;
}

.quickedit {
	display: none;
}

#navbar-iframe {
	height: 0px;
	visibility: hidden;
	display: none;
}

#comment-editor {
	border: 0;
	width: 100%;
}

body * {
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 1s ease-in;
	-ms-transition: all 0.5s ease-in;
}

.section, .widget {
	margin: 0px 0px 5px 0px;
	padding: 0;
}
/* HEADER
	-------------------------------- */
#header {
	margin: 0 auto;
}

#header h1 {
	color: #333333;
	margin: 0;
	padding: 0;
	font: normal 400 27px Arial, sans-serif;
}

#header-inner img {
	width: 100%;
	height: 100%;
}

#header h1 a {
	color: #333333;
}

#header h1 a:hover {
	color: #333333;
}

#header .description {
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: #999;
}
/* OUTER WRAPPER
	-------------------------------- */
#outer-wrapper {
	width: 975px;
	margin: 0 auto;
	background: #FFF; #
	background: #f2f3f4;
	position: relative;
	/*padding: 15px 15px 0px 15px;*/
	padding: 5px 5px 0px 5px;
}

#main-wrapper {
	float: left;
	/*margin-right: 5px;
	width: 720px;*/
	width: 75%;
}

#sidebar-wrapper {
	float: right;
	width: 25%;
}

#content-side {
	float: left;
	/*width: 200px;
	width: 250px;
	margin-right: 5px;*/
	width: 25%;
}

#contentanime {
	margin: 5px 0 15px;
}

#content-wrap {
	width: 710px;
}

#content-hwrap {
	float: left;
	width: 50%;
}

#hwrap {
	width: 100%;
	margin-right: 5px;
	float: left;
}

#hwrap1 {
	width: 300px;
	margin-right: 5px;
	float: left;
}

#hwrap2 {
	width: 200px;
	float: left;
}
/* HEADING
	-------------------------------- */
h1, h2, h3, h4, h5 {
	font-weight: 700;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
/* MENU
	-------------------------------- */
.fnav {
	float: left;
}

.fmenu {
	float: right;
	display: inline-block;
	margin: 4px;
}

.dropdown {
	position: absolute;
	background: #323232;
	z-index: 10;
	margin: 0;
	list-style: none;
	padding: 2px 0 !important;
	display: none;
}

.dropdown:before {
	content: "";
	border: 6px solid transparent;
	position: absolute;
	top: -12px;
	left: 25px;
	border-bottom-color: #333;
}

.dropdown li a {
	color: #fff;
	padding: 10px 12px;
	display: block;
	font-size: 11px;
	font-weight: 700;
}

.dropdown li:hover {
	background: #079CED !important;
}

.idrop {
	padding-left: 5px;
	top: -2px;
	position: relative;
}

#nav {
	margin: 0 auto 5px;
	position: relative;
	background: #50d07d;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav>ul>li {
	float: left;
	margin: 0;
	list-style: none;
	position: relative;
}

#nav>ul>li>a {
	color: #fff;
	padding: 13px 16px;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
}

#nav>ul>li:first-child>a {
	padding: 11px 15px;
	font-size: 16px;
	line-height: 18px;
}

#nav>ul>li:hover .dropdown {
	display: block;
}

#nav li .active {
	background: #d02552;
}

#nav li:hover {
	background: #045A88;
}

.genrebox {
	background: #F2F3F4;
	border: 0;
	color: #045A88;
	outline: 0;
	padding: 8px 5px;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	margin: 0 5px 0 0;
}

.search-form {
	/*margin: 0px 5px 0px 0px;*/
	margin: 0;
	display: inline-block;
}

.search-input {
	background: #F2F3F4;
	padding: 9px 6px;
	border: 0;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	margin-right: 1px;
}

.search-submit {
	padding: 9px 10px;
	border: 0;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background: #D02552;
	outline: 0;
	cursor: pointer;
}

.ranpost {
	background: #333;
	padding: 0 10px;
	border: 0;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	/*outline: 1px solid #1f1f1f;*/
	display: inline-block;
	float: right;
	cursor: pointer;
	line-height: 32px;
}

#blog-pager {
	text-align: center;
	margin: 15px auto;
}

#pager-prev {
	float: left;
}

#pager-next {
	float: right;
}

.page-older, .page-newer, .home-link {
	background: #e7e8ed;
	color: #333 !important;
	padding: 5px 5px 3px;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
}

.page-older:hover, .page-newer:hover, .home-link:hover {
	background: #dee3e8;
}

.page-newer {
	float: left;
}

.page-older {
	float: right;
}

.showpageOf {
	background: #f2f3f4;
	padding: 4px 5px 3px;
	display: inline-block;
	border: 1px solid #dee3e8;
	color: #333;
	border-radius: 2px;
	float: right;
	font-size: 11px;
	font-weight: 700;
}

.showpageNum, .showpagePoint {
	background: #f2f3f4;
	padding: 4px 5px 3px;
	display: inline-block;
	border: 1px solid #dee3e8;
	color: #333;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 700;
	margin-right: 2px;
}

.showpagePoint {
	background: #dee3e8;
}

.showpage {
	float: left;
	background: #f2f3f4;
	padding: 4px 5px 3px;
	display: inline-block;
	border: 1px solid #dee3e8;
	color: #333;
	border-radius: 2px;
	margin-right: 4px;
	width: 55px;
	font-size: 11px;
	font-weight: 700;
}
/* FOOTER
	-------------------------------- */
#footer {
	color: #333;
	font-size: 11px;
	padding: 0;
	margin: 0;
}

#footer-wrap a {
	color: #fff;
	font-weight: 700;
}

.credit {
	margin: 0 -15px -15px;
	background: #e4e6e8;
	display: block;
	clear: both;
	padding: 10px;
}

.credit a {
	color: #333;
}

#footer-wrap {
	background: #333;
	padding: 10px 15px;
	/*margin: 10px -15px 0;*/
	margin: -1px -5px 0;
	color: #fff;
	height: 100px;
}

.foot .widget {
	float: left;
	width: 315px;
	margin-right: 10px;
}

.foot h2 {
	margin: 0;
	color: #fff;
	font-size: 14px;
	padding: 5px 0;
	margin-bottom: 5px;
}

.rdpost {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.rdpost li {
	float: left;
	width: 115px;
	margin-right: 4px;
	overflow: hidden;
	position: relative;
	height: 160px;
}

.rdpost li .rdthumbs {
	display: block;
	line-height: 0;
}

.rdsnippet {
	display: none;
}

.rdtitle a {
	position: absolute;
	bottom: 0;
	color: #fff;
	display: inline-block;
	padding: 4px 4px 3px;
	width: 111px;
	font-size: 11px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 10;
}

.rdtitle:after {
	content: '';
	background: linear-gradient(to bottom, rgba(25, 35, 45, 0) 0, #19232d
		100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}
/* POST
	-------------------------------- */
.post-body {
	line-height: 22px;
}

.breadcrumbs span {
	background: #e7e8ed;
	padding: 5px;
	font-size: 11px;
	font-weight: 700;
}

.post-body img {
	/*max-width: 60%;*/
	max-width: 100%;
	min-width: 100%;
	display: block;
	/*margin: 0 3px;*/
}

h1.entry-title {
	font-family: Arial, sans-serif;
	font-size: 26px;
	font-weight: 300;
	margin: 15px 0 3px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 7px;
}

.post-header {
	margin: 7px 1px 10px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

.post-footer {
	font-size: 11px;
	color: #666;
}

h3.dl-title {
	background: #333;
	margin: 0 0 3px;
	padding: 6px;
	color: #fff;
	border-left: 5px solid #e74c3c;
}

.staff_pic {
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 10px 0 0 !important;
	max-width: 100% !important;
}

.staff_blog {
	clear: both;
	height: 60px;
	padding-bottom: 1px;
	padding: 5px 1px;
	position: relative;
	margin-bottom: 10px;
}

.staff_inf {
	overflow: hidden;
}

.staff_inf b {
	width: 45px;
	display: inline-block;
}

.staff_inf span {
	clear: both;
	display: block;
	margin-bottom: 2px;
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

.staff_blog.acv:hover:after {
	content: "";
	position: absolute;
	right: 0;
	top: 15px;
	border: 5px solid #0f9d28;
	border-radius: 100%;
}

.staff_blog.nacv:hover:after {
	content: "";
	position: absolute;
	right: 0;
	top: 15px;
	border: 5px solid #da1919;
	border-radius: 100%;
}
.synop_down{
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 3px;
}
.synop_down table {
	border-spacing: 0 2px;
}
.synop_down tbody {
	display: inline-block;
	max-height: 320px;
	overflow-y: auto;
	border-spacing: inherit;
}

.synop_down tbody > tr > td {
	width: 100%;
}

.synop_down thead > tr > td {
	background: #e74c3c;
	color: #fff;
	font-weight: 700;
	text-align: center;
	border-bottom: 2px solid #d83b2a;
}

/*
.synop_down tr:nth-child(1) td {
	background: #e74c3c;
	color: #fff;
	font-weight: 700;
	text-align: center;
	border-bottom: 2px solid #d83b2a;
}

*/
/*
.synop_down tr:nth-child(1) td:nth-child(1) {
	width: 100px;
}

.synop_down tr:nth-child(1) td:nth-child(2) {
	width: 290px;
}

.synop_down tr:nth-child(1) td:nth-child(3) {
	width: 290px;
}
*/

.synop_down tr:nth-child(2n+2) {
	background: #f2f3f4;
}

.synop_down tr:hover {
	background: #ffecea;
}

.synop_down td:nth-child(2), .synop_down td:nth-child(3) {
	color: #d2d8df;
}

.synop_down td {
	padding: 5px 5px 4px;
	text-align: center;
}

.synop_down td a {
	color: #e74c3c;
	font-weight: 700;
	padding: 0 8px;
}

.synop_down td a:hover {
	color: #9eacba;
}

.synop_down .description {
	text-align: justify;
	flex: 1;
	max-height: 364px;
	overflow-y: auto;
	margin: 5px 0 5px 5px;
	padding: 0px 5px 0px 0px;
}

.synop_thumbs {
	float: left;
	width: 170px;
	height: 250px;
	margin: 3px 10px 3px 0px;
	/*margin-bottom: 10px;*/
}

.synop_thumbs img {
	max-width: 100%;
	height: 100%;
}

.synop_infs {
	overflow: hidden;
	padding: 0 !important;
	margin: 0 !important;
}

.synopsis {
	clear: both;
	margin-top: 10px;
	display: block;
	line-height: 20px
}

.dl-box {
	margin: 10px 0;
}

.item-dl {
	float: left;
	background: #e74c3c;
	padding: 3px 5px;
	width: 90px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
}

.dl-item {
	clear: both;
	margin-bottom: 4px;
	height: 27px;
}

.dl-anime {
	overflow: hidden;
	line-height: 29px;
	background: #f2f3f4;
	padding: 0 8px;
}

.dl-anime a {
	font-weight: 700;
	border-right: 1px solid #ddd;
	margin-right: 5px;
	padding-right: 10px;
}

.dl-anime a:last-child {
	border: 0;
}

.dte-3 {
	margin: 0 !important;
	list-style: none;
	padding: 0 !important;
}
/*
.dte3_item:first-child .dte3_thmbs, .dte3_item:first-child .dte3_thmbs img
	{
	display: inline-block;
}
*/
.dte-3 .dte3_thmbs, .dte-3 .dte3_thmb {
	display: none;
}
/*
.dte-3 li:first-child {
	float: left;
	width: 250px;
	background: transparent;
	border: 0;
	margin: 0 6px 0 0;
	padding: 0;
	position: relative;
}

.dte-3 li:first-child div a {
	position: absolute;
	bottom: 3px;
	background: rgba(0, 0, 0, .6);
	padding: 5px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	width: 240px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
*/
.dte-3 li {
	overflow: hidden;
	outline: 0;
	border-left: 4px solid #e0e6ec;
	padding: 7px 5px;
	margin-bottom: 2px;
	background: #f2f3f4;
}
/*
.dte3_item:first-child:hover .dte3_title {
	background: rgba(231, 76, 60, .6);
}
*/
#comments {
	padding: 10px;
	background: #f2f3f4;
	border: 1px solid #dee3e8;
}

.comments h3 {
	margin: -10px -10px 14px;
	font-size: 16px;
	font-weight: 400;
	background: #d8dee4;
	padding: 10px;
	text-transform: capitalize;
	color: #555;
}

.comment_avatar {
	float: left;
	margin-right: 10px;
	height: 45px;
	width: 45px;
	background:
		url(http://2.bp.blogspot.com/-452X7Id-1yI/VJf_4FiQEdI/AAAAAAAADKA/B0UTdntyOkc/s45-c/profil_gravatar.jpg);
	overflow: hidden;
}

.comment_wraps {
	overflow: hidden;
	background: #fff;
	padding: 10px;
}

.comment_inner {
	margin-bottom: 8px;
	position: relative;
}

.comment_name a {
	font-size: 15px;
	font-weight: 700;
	color: #2286cd;
}

.comment_date {
	font-size: 11px;
	color: #999;
	font-style: italic;
}

.comment_service {
	border-bottom: 1px solid #ddd;
	padding-bottom: 2px;
	margin-bottom: 3px;
}

.comment_body p {
	font-size: 13px;
	line-height: 20px;
	color: #444;
}

.comment_child {
	margin: 5px 0 5px 57px;
}

.comment_reply {
	background: #e0e6ec;
	padding: 5px 10px;
	font-size: 11px;
	border-radius: 2px;
	color: #333 !important;
}

.comment_wraps:hover .comment-delete {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.comment-delete {
	position: absolute;
	right: 7px;
	top: 12px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

a.comment-delete {
	position: absolute;
	right: 7px;
	top: 12px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #fcb4b4;
	padding: 5px 3px 0 4px;
	border-radius: 3px;
}

.comment_wraps:hover .comment-delete {
	opacity: 1;
	filter: alpha(opacity = 100);
}

a.comment-delete img {
	width: 12px;
}

.sharing-post {
	margin: 20px 0;
	overflow: hidden;
}

.entry-social {
	overflow: hidden;
}

.entry-social a {
	display: block;
	padding: 0px;
	color: #FFFFFF !important;
	font-weight: 300;
	font-size: 12px;
}

.entry-social div {
	float: left;
	margin-right: 5px;
	width: 162px;
	background-color: #F2F3F4;
	margin-top: 5px;
	transition: all .4s ease-in-out;
	position: relative;
	font-weight: 700;
}

.entry-social .title-sharing-post {
	padding: 0 7px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 4px solid #333;
}

.entry-social .fb {
	background-color: #324b81;
	padding: 0 7px;
	height: 34px;
	line-height: 34px;
}

.entry-social .twitter, .entry-social .gplus {
	padding: 0 7px;
	height: 34px;
	line-height: 34px;
}

.entry-social .twitter {
	background-color: #01A7dE;
}

.entry-social .gplus {
	background-color: #BA3227;
}

.entry-social .linkedin {
	background-color: #136F9B;
	padding: 0 7px;;
	height: 34px;
	line-height: 34px;
}

.entry-social div.pinterest {
	height: 34px;
	line-height: 34px;
}

.entry-social div.pinterest img {
	margin-top: -1px;
	vertical-align: middle;
}

.entry-social .pinterest a {
	background-color: #B01C23;
	padding: 0 7px;
}

.entry-social div.printblog {
	width: 35px;
	height: 30px;
	border-bottom: 4px solid #333;
}

.entry-social .printblog a {
	padding: 7px 7px 4px 9px;
	transition: all 0.4s ease-in-out;
}

.entry-social .printblog a:hover {
	background-color: #333;
}

.entry-social div span:nth-child(2) {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.slide-share {
	background: #ECEFF2;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	line-height: 7px;
	color: #333;
	transition: all 0.4s ease-in-out;
	height: 30px;
	cursor: pointer;
}

.entry-social .fb:hover .slide-share, .entry-social .twitter:hover .slide-share,
	.entry-social .gplus:hover .slide-share, .entry-social .linkedin:hover .slide-share,
	.entry-social .pinterest:hover .slide-share {
	left: 140px;
	opacity: 0;
}

/*Content*/
#content-wrap {
	float: left;
	width: 75% !important;
}

.thumbnail {
	float: left;
	margin-right: 8px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border: 1px solid #444;
}

h2.entry-title {
	font-size: 13px;
	overflow: hidden;
	margin: 0;
	font-weight: 700;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
}

.article {
	overflow: hidden;
	background: #F2F3F4;
	padding: 4px;
	outline: 1px solid #E4E6E8;
}

.post.hentry {
	margin-bottom: 10px;
}

.status-msg-wrap {
	background: #F3F4F9;
	border: 1px solid #D2D6E1;
	font-size: 12px;
	font-weight: 700;
}

.status-msg-wrap a {
	clear: both;
	display: inline-block;
	background: #3D3D3D;
	color: #fff;
	padding: 5px 8px;
	font-size: 11px;
	font-weight: 700;
	margin-top: 3px;
}

.status-msg-wrap b {
	font-size: 13px;
	display: block;
	color: #2d50a7;
	margin: 4px 0 1px;
}

a.mrpbt {
	background: #E74C3C;
	color: #fff;
	padding: 5px 0px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 11px;
	/*border-radius: 3px;*/
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
}

a.mrpbt:hover {
	background: #D83727;
}

.hwrap h2, .hwrap h3 {
	margin: 0;
	background: #50D07D;
	border-left: 5px solid #D02552;
	padding: 12px;
	margin-bottom: 2px;
	font-size: 13px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.hwrap .widget {
	margin-bottom: 10px;
}

.lst_rdmr:hover {
	background: #CBD7E2;
	border: 1px solid #C7D4E0;
}

.lst_thmba {
	display: inline-block;
	float: left;
	margin-right: 8px;
}

.lst_cmnts {
	clear: both;
	font-size: 11px;
	font-weight: 700;
	color: #999 !important;
}

.lst_wrap {
	margin: 0 !important;
	list-style: none;
	padding: 0 !important;
}

.lst_date {
	clear: both;
	font-size: 13px;
	font-weight: 700;
	color: #999;
}

#hwrap1 .lst_wrap li {
	position: relative;
	margin-bottom: 2px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 9px;
	padding: 5px;
}

#hwrap2 .lst_wrap li {
	position: relative;
	margin-bottom: 2px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 9px;
	background: #F2F3F4;
	padding: 5px;
	max-height: 61px;
	overflow: hidden;
}

#hwrap1 .lst_title {
	font-weight: 700;
	font-size: 13px;
	overflow: hidden;
	line-height: 16px;
}

#hwrap2 .lst_title {
	font-size: 12px;
	font-weight: 700;
}

.lst_rdmr {
	font-size: 10px;
	background: #2D50A7;
	color: #fff !important;
	padding: 3px 4px;
	position: absolute;
	right: 0px;
	bottom: 2px;
	border: 1px solid #2D50A7;
}

#hwrap2 .lst_thmba {
	width: 57px;
	height: 57px;
	overflow: hidden;
}

.cside h2 {
	margin: 0;
	font-size: 14px;
}

.cside h2 {
	margin: 0;
	color: #fff;
	background: #50d07d;
	border-left: 5px solid #d02552;
	padding: 12px;
	margin-bottom: 2px;
	font-size: 13px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.title > span:hover {
	color: #F27374 !important;
}

#cside .lst_wrap li {
	padding: 5px 4px 4px;
	padding-left: 5px;
	border-left: 5px solid #DEE3E8;
	margin-bottom: 2px;
	background: #F2F3F4;
	line-height: 18px;
}

#cside .lst_wrap li a {
	font-weight: 700;
	font-size: 12px;
}

/*custom css*/
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**
* Custom CSS for social
*/
ul.social-icons {
	margin: 2px 14px 1px 4px;
	padding: 0;
	width: auto;
	text-align: center;
}

ul.social-icons li {
	background-image: url(../../img/site/social-sprites.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 0 100px;
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	transition: all .3s ease;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-border-radius: 100%;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-border-radius: 100%;
	-webkit-transition: all .3s ease;
	border: 1px solid #fff;
}

ul.social-icons li a {
	display: block;
	height: 28px;
	width: 28px;
	text-align: center;
}

ul.social-icons li[class] a {
	text-indent: -9999px;
}

ul.social-icons li.facebook {
	background-position: 0 -121px;
}

ul.social-icons li.facebook:hover {
	background-position: 0 -151px;
}

ul.social-icons li.googleplus {
	background-position: 0 -301px;
}

ul.social-icons li.googleplus:hover {
	background-position: 0 -331px;
}

ul.social-icons li.twitter {
	background-position: 0 -1141px;
}

ul.social-icons li.twitter:hover {
	background-position: 0 -1171px;
}

ul.social-icons li.linkedin {
	background-position: 0 -541px;
}

ul.social-icons li.linkedin:hover {
	background-position: 0 -571px;
}

ul.social-icons li.youtube {
	background-position: 0 -1380px;
}

ul.social-icons li.youtube:hover {
	background-position: 0 -1410px;
}

#manga-type {
	margin: 0;
}

.btn-top {
	background-image: url(../../img/site/go_to_top.png);
	background-repeat: no-repeat;
	border: medium none;
	bottom: 20px;
	cursor: pointer;
	display: none;
	height: 50px;
	outline: medium none;
	padding: 0;
	position: fixed;
	right: 20px;
	width: 50px;
	z-index: 9999;
}

.side-bar-active {
	background: #2d50a7 !important;
	border-bottom: 1px solid #2d50a7 !important;
	color: black !important;
}

.hide {
	display: none;
}

.highlight {
	background: #2d50a7 !important;
}

.tag {
	margin-bottom: 5px !important;
}

.form-horizontal {
	/*margin: 10px;*/
	border: 1px solid #f3f3f3;
	padding: 10px;
}

.form-group {
	display: inline;
	color: blue;
}

.form-group label {
	
}

.form-group input {
	width: 100%;
	height: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-group textarea {
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-group button {
	height: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-group button:hover {
	backgound: #50D07D;
	color: #ffffff;
}
.home_content {
	position: relative;
	border-bottom: 1px dotted #343434;
}
.hidden {
	display: none;
}

@media screen and (max-width:889px) {
	.hidden-small {
		display: none !important;
	}

	#qtip-* {
		display: none !important;
	}
}

#logo {
	width: 100px;
	float: left;
}
.cside {
	margin-right: 5px;
}
.sidebar {
	margin-left: 5px;
}
.lst_type{
	
}
.lst_type span:last-of-type{
	visibility: hidden;
}
.lst_type {
	clear: both;
	font-size: 13px;
	font-weight: 700;
	color: #999;
}
.lst_title {
	font-size: 14px;
	font-weight: 600;
}
.lst_author {
	clear: both;
	font-size: 13px;
	font-weight: 700;
	color: #999;
}
.lst_author > span {
	clear: both;
	font-size: 13px;
	font-weight: 700;
	color: #2d50a7;
}
.story-description {
	text-align: justify;
	height: 105px;
	overflow-y: auto;
}

.p-not-found {
	text-align: center;
  font-weight: bold;
}